<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    #auth-links li {
      list-style: none;
    }
    
    #auth-links a {
      color: green;
    }

    .auth-form {
      margin-bottom: 20px;
    }
    
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="auth-form" id="login-form">

      <h2>Login</h2>

      <form action="/auth/login" method="post">

        <label>Email:</label>
        <input type="text" name="email" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <input type="submit" value="Log In"/>

      </form>
    
    </div>

    <div class="auth-form" id="signup-form">
    
      <h2>Signup</h2>

      <form action="/auth/signup"  method="post">

        <label>Email:</label>
        <input type="text" name="email" required>

        <label>Password:</label>
        <input type="password" name="password" required>

        <input type="submit" value="Sign up"/>

      </form>
    
    </div>
    
    <div id="auth-links">
      <ul>
          <li><a href="/auth/facebook">Link your Facebook account.</a></li>
          <li><a href="/auth/slack">Link your Slack account.</a></li>
          <li><a href="/auth/trello">Link your trello account.</a></li>
          <li><a href="/auth/jira">Link your Jira account.</a></li>
      </ul>
    </div>


  </body>
</html>
